h2 {
  text-align: right;
  min-height: 2rem;
  width: 200px;
  border: 2px solid black;
  overflow-x: auto;
}

.calc-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.calc-border {
  border: 2px solid black;
  padding: 20px;
}

.numPad {
  display: grid;
  height: 200px;
  width: 200px;
  grid-template-columns: repeat(4, 1fr);
}

.numPadNum {
  background-color: grey;
}

.numPadSym {
  background-color: darkgray;
}


.numPadBtn:active {
  background-color: adjust-hue($color: #3b3b3b, $degrees: 0);
}