.numPad {
  display: grid;
  height: 200px;
  width: 200px;
  grid-template-columns: repeat(4, 1fr);
}

.numPadNum {
  background-color: grey;
}

.numPadSym {
  background-color: darkgray;
}


.numPadBtn:active {
  background-color: adjust-hue($color: #3b3b3b, $degrees: 0);
}